@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image { 
  background-image: url(./images/bg-pattern-top-desktop.svg),
  url(./images/bg-pattern-bottom-desktop.svg);
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;
}